h1#title{
    font-family: "Karla", sans-serif;
    font-size:50;
    color:white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}
img, h1#title{
    display:inline-block;
}
img{
    max-width:100%;
}
div.container{
    text-align:center
}
div#top{
    background-color: #f5cbea;
    border-radius: 0 0 20px 20px;
    margin-bottom: 20px;
    padding: 10px;
    
    border: 5px solid white;
    border-width:0 5px 5px 5px;
    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);

}

body{
    background-color: #aaf1b9 !important;
}
div.content{
    text-align: center;
    font-size:25;
}
p#txt{
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    color:white;
}

.invis{
    opacity:0;
    font-size:1px;
}

.dnc{
    background-color: #f5cbea;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: "Karla", sans-serif;
    color:white;
    border: 4px solid white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    transition: transform 0.5s, background-color 0.5s;

    box-shadow: 0px 0px 10px 10px rgb(255, 255, 255);
}
.red{
    color:rgb(255, 80, 80);
}

button:hover{
    background-color: #eeacdc;

}

body {
    margin: 0;
    padding: 0;
}

.dnc {
    position: relative;
}

.dnc:before, .dnc:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
        #0000ff, #00ff00,#ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.dnc:after {
    filter: blur(50px);
}